@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: garden --default, dracula --prefersdark;
    exclude: rootscrollgutter;
}

@theme {
    --default-font-family: "Montserrat", "Noto Sans TC", sans-serif;
    --default-transition-duration: 250ms;
    --fontsize: 16px;
}
#user-panel.active {
    @apply bg-secondary text-secondary-content;
}

.active {
    @apply bg-primary/70;
}

@utility icon {
    @apply inline-block size-8;
}

@utility btn {
    height: auto;
    padding-inline: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: 8px;
}

@utility tooltip {
    @apply block;
}

@utility fieldset {
    @apply text-sm;
}

@utility fieldset-legend {
    @apply text-xl;
}

@utility input {
    --border: 2px;
    @apply text-base transition focus-within:outline-none focus:outline-none;
}

@utility textarea {
    --border: 2px;
    resize: none;
    overflow-y: hidden;
    @apply transition focus-within:outline-none focus:outline-none;
}

@utility prose {
    @apply prose-p:text-base-content
}